{{>nav}}

<section id="hero" class="c-hero c-hero--blog-post o-fixed-bg" role="banner" style="background-image:url({{single.image}})">
	<div class="c-hero__inner js-fade-hero-content">
		<h1 class="c-hero__heading">{{single.title}}</h1>
		<span class="c-hero__subheading">
			<span class="c-hero__tag">{{formatDate single.date 'DD MMMM YYYY'}}</span>
			<span class="c-hero__tag">By {{single.author.username}}</span>
			{{#if single.tags}}<span class="c-hero__tag">{{single.tags}}</span>{{/if}}
		</span>
		<a href="/" class="c-btn c-btn--secondary">More articles</a>
	</div>
	<a href="#article" class="c-hero__arrow c-hero__arrow--active js-go-to-section js-fade-hero-content"><i class="lnr-chevron-down"></i></a>
	<aside class="c-hero__overlay"></aside>
</section>

<div role="main">
	<section id="article" class="c-section">
		<div class="o-width-limiter o-width-limiter--small">
			<article class="c-article s-text">
				{{{single.body}}}
			</article>
		</div>
	</section>
</div>

<div class="c-pagination">
	<a href="/" class="c-pagination__button"><i class="c-pagination__icon c-pagination__icon--more lnr-arrow-left"></i>More articles</a>
</div>

{{>copyright}}