{{>nav modifier="c-nav--sticky"}}

<section id="hero" class="c-hero" role="banner" {{#if single.image}}style="background-image:url({{single.image}})"{{/if}}>
	<div class="c-hero__inner js-fade-hero-content">
		{{#if user}}
			<div class="c-edit">
				<a href="/article/edit/{{single.id}}" class="c-edit__link c-edit__link--light">Edit</a>
				<a href="/article/{{single.id}}" class="c-edit__link c-edit__link--delete c-edit__link--light">Delete</a>
			</div>
		{{/if}}
		<h1 class="c-hero__heading">{{single.title}}</h1>
		<ul class="c-hero__meta">
			<li class="c-hero__meta-item">{{formatDate single.date 'DD MMMM YYYY'}}</li>
			<li class="c-hero__meta-item">By {{single.author.username}}</li>
			{{#if single.tags}}
			<li class="c-hero__meta-item">{{single.tags}}</li>
			{{/if}}
		</ul>
	</div>
	<a href="#article" class="c-hero__arrow c-hero__arrow--active js-go-to-section js-fade-hero-content"><span class="lnr-chevron-down" aria-hidden="true"></span></a>
	<aside class="c-hero__overlay"></aside>
</section>

<div role="main">
	<section id="article" class="c-article c-section">
		<div class="o-width-limiter o-width-limiter--small">
			<article class="s-text">
				{{{single.body}}}
			</article>
			<div class="c-article__footer">
				{{>socialSharing}}
			</div>
		</div>
	</section>
	<div class="c-pagination">
		<a href="/" class="c-btn">More articles</a>
	</div>
</div>

{{>footer}}