{{>nav}}

<section id="hero" class="c-hero c-hero--blog-post o-fixed-bg" role="banner" style="background-image:url({{article.intro.image}})">
	<div class="c-hero__inner js-fade-hero-content">
		<h1 class="c-hero__heading">{{title}}</h1>
		<span class="c-hero__subheading">
			<span class="c-hero__tag">{{formatDate date 'DD MMMM YYYY'}}</span>
			<span class="c-hero__tag">By {{author}}</span>
			<span class="c-hero__tag">{{tags}}</span>
		</span>
		<a href="/" class="c-btn c-btn--secondary">More articles</a>
	</div>
	<a href="#article" class="c-hero__arrow c-hero__arrow--active js-go-to-section js-fade-hero-content"><i class="lnr-chevron-down"></i></a>
	<aside class="c-hero__overlay"></aside>
</section>

<div role="main">
	<section id="article" class="c-section">
		<div class="o-width-limiter o-width-limiter--x-small">
			<article class="c-article s-text">
				{{{body}}}
<!-- <pre class="c-code">
</pre> -->
			</article>
		</div>
	</section>
</div>

<div class="c-pagination">
	<a href="/" class="c-pagination__button"><i class="c-pagination__icon c-pagination__icon--more lnr-arrow-left"></i>More articles</a>
</div>

{{>copyright}}