{{>nav}}

{{#each featured}}
<section id="hero" class="c-hero o-fixed-bg" role="banner" style="background-image:url({{image}})">
	<div class="c-hero__inner js-fade-hero-content">
		<h1 class="c-hero__heading">{{title}}</h1>
		<span class="c-hero__subheading">
			<span class="c-hero__tag">{{formatDate date 'DD MMMM YYYY'}}</span>
			<span class="c-hero__tag">By {{author.username}}</span>
			<span class="c-hero__tag">{{tags}}</span>
		</span>
		<a href="article/{{_id}}" class="c-btn c-btn--secondary">Read article</a>
	</div>
	<a href="#posts" class="c-hero__arrow c-hero__arrow--active js-go-to-section js-fade-hero-content"><i class="lnr-chevron-down"></i></a>
	<aside class="c-hero__overlay"></aside>
</section>
{{/each}}

<div role="main">
	<section id="posts" class="c-posts">
		<div class="o-width-limiter o-width-limiter--medium">
			<ul class="o-grid o-grid--airy">
				{{#each articles}}
				<li class="o-grid__col o-grid__col--2">
					<div class="c-post">
						{{#if ../user}}
							<a href="/article/edit/{{_id}}" class="c-post__edit">Edit</a>
							<a href="/article/{{_id}}" class="c-post__edit c-post__edit--delete">Delete</a>
						{{/if}}
						<a href="/article/{{_id}}" class="c-post__link">
							{{#if image}}
								<img class="c-post__image" src="{{image}}" alt="Blogpost">
							{{else}}
								<img class="c-post__image" src="../../img/abstract.jpg" alt="Blogpost">
							{{/if}}
							<div class="c-post__caption">
								<p class="c-post__date">{{formatDate date 'DD MMMM YYYY'}}</p>
								<h2 class="c-post__heading">{{title}}</h2>
								<p class="c-post__tag">{{tags}}</p>
							</div>
						</a>
					</div>
				</li>
				{{/each}}
			</ul>
		</div>
	</section>
</div>

<!-- <div class="c-pagination">
	<a href="#" class="c-pagination__button">Load more<i class="c-pagination__icon lnr-arrow-down"></i></a>
</div> -->

{{>copyright}}