{{>nav}}

{{#each featured}}
<section id="hero" class="c-hero o-fixed-bg" role="banner" {{#if image}}style="background-image:url({{image}})"{{/if}}>
	<div class="c-hero__inner js-fade-hero-content">
		{{#if ../user}}
			<div class="c-edit">
				<a href="/article/edit/{{_id}}" class="c-edit__link c-edit__link--light">Edit</a>
				<a href="/article/{{_id}}" class="c-edit__link c-edit__link--delete c-edit__link--light">Delete</a>
			</div>
		{{/if}}
		<h1 class="c-hero__heading">{{title}}</h1>
		<span class="c-hero__subheading">
			<span class="c-hero__tag">{{formatDate date 'DD MMMM YYYY'}}</span>
			<span class="c-hero__tag">By {{author.username}}</span>
			{{#if tags}}<span class="c-hero__tag">{{tags}}</span>{{/if}}
		</span>
		<a href="article/{{_id}}" class="c-btn c-btn--secondary">Read article</a>
	</div>
	<a href="#posts" class="c-hero__arrow c-hero__arrow--active js-go-to-section js-fade-hero-content" role="button"><span class="lnr-chevron-down" aria-hidden="true"></span></a>
	<aside class="c-hero__overlay"></aside>
</section>
{{/each}}

<div role="main">
	<section id="posts" class="c-teasers">
		<div class="o-width-limiter o-width-limiter--medium">
			<ul class="o-grid o-grid--airy">
				{{#each articles}}
				<li class="o-grid__col o-grid__col--2">
					{{#if ../user}}
					<div class="c-edit">
						<a href="/article/edit/{{_id}}" class="c-edit__link">Edit</a>
						<a href="/article/{{_id}}" class="c-edit__link c-edit__link--delete">Delete</a>
					</div>
					{{/if}}
					<div class="c-teaser">
						<a href="/article/{{_id}}" class="c-teaser__content-wrapper">
							<div class="c-teaser__media">
							{{#if image}}
								<img class="c-teaser__image" src="{{image}}" alt="">
							{{else}}
								<img class="c-teaser__image" src="../../img/abstract.jpg" alt="">
							{{/if}}
								<div class="c-teaser__overlay">
									<!-- <span class="c-teaser__icon lnr-eye" aria-hidden="true"></span> -->
								</div>
							</div>
							<div class="c-teaser__caption">
								<p class="c-teaser__date">{{formatDate date 'DD MMMM YYYY'}}</p>
								<h2 class="c-teaser__heading">{{title}}</h2>
								<p class="c-teaser__tag">{{tags}}</p>
							</div>
						</a>
					</div>
				</li>
				{{/each}}
			</ul>
		</div>
	</section>
</div>

{{#ifCond count 6}}
<ul class="c-pagination">
	{{{pagination pages page}}}
</ul>
{{/ifCond}}

{{>footer}}